body 
{
	background-color:white;
	font-family: 'Rambla', sans-serif;
	font-size:14px;
	color:#333;
}

h1
{
	color:#58AD69;
  font-family: 'Crimson Text', serif;
}

.link
{
	color:#58AD69;
}

.container
{
	margin-top:50px;
	margin-left:50px;
	max-width:600px;
}