body 
{
  margin:0;
  padding:0;
  background-color:white;
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size:13px;
  color:#333;
}

h1
{
	color:#58AD69;
}

.link
{
	color:#58AD69;
}

.container
{
	margin-top:50px;
	margin-left:50px;
	max-width:600px;
  margin-bottom:50px;
}


/* terminal */
#terminal 
{
  background-color:black;
  color:white;
  padding:20px;
}

#terminal span 
{
  color:#58AD69;
}

#terminal input 
{
  width:80%;
  border:none;
  background-color:black;
  color:white;
  outline:none;
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
  font-size:15px;
}
